.container {
    display: inline;
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.label {
    border-radius: 10px;
    height: 25px;
    width: 100px;
    margin: 20px;
    background-color: aqua;
}